
/* 폰트 */
@font-face { font-family: 'JALNAN'; src: url("font/HYGothicExtra.ttf"); }

/* 공통 */
td,th,input,select,textarea,button,table { font-family:'NanumGothic','돋움',dotum,Verdana,AppleGothic,Arial,Helvetica,sans-serif; color:#666; line-height:16px; }
hr {display:none;}
.site_navi { width:100%; text-align:right; font-size:11px; color:#838383; border-bottom:1px solid #ddd; padding-bottom:7px;}

.contents_sub { width:100%; margin:0; }
.contents_sub table {width:100%; border-collapse:collapse;}

.board_list {border-top:1px solid #464646;}

.item_td { font-size:14px; }
.button_td { font-size : 12px; }
#price_part { color : #e28c1c; font-weight: bold; }

#shopmenu { margin-top : 40px; }

.mypage_sign { display : flex; justify-content: center; align-items : center; height : 50px; font-size : 14px; }

/* 판매중인 스킨 갯수 부분 */
.board_top {width:100%; overflow:hidden;}
.board_top .f_search {float:right; width:330px; text-align:right;} 
.board_top .bold {float:left; width:200px; margin:0px 0;}

.boardT tr { border-bottom : 1px solid #ddd; }
.boardT tr td:nth-child(2) { width: 40%; }
.boardT tr td:nth-child(3) { width: 15%; }

.coment_number { font:bold 10px verdana; color:#1787f0;}
.last2 {border-bottom:2px solid #f2f2f2; padding:10px;} 

#shop_member_info { display: flex; flex-direction: column; height : 200px; text-align: center; font-weight: bold; align-items: center; justify-content: center; 
	background-color : skyblue;}
.info_top { height : 65px; }
.name_point { font-size : 25px; color : blue; }

.badgeBoard .badgeImage { display: table-cell; width:50px; height:50px; border:1px solid #eee; text-align:center; vertical-align: middle; margin:0 auto;}
.badgeBoard .badgeName { display: table-cell; width:200px; height:16px; text-align:center; vertical-align: middle; font-family : 'HYGothicExtra.ttf'; font-size : 16px; font-weight : bold; }
.badgeGoods { margin : 10px; padding : 5px; }
/* 썸네일 테두리 사이즈는 width:160px; height:130px; 으로 고정. 수직/수평 가운데 정렬 */

.con_title {overflow:hidden; position:relative; margin-bottom: 10px; border-bottom: 1px solid #DADADA; display: flex; justify-content: space-between;}

/* 버튼 */
.btn_purchase { display:inline-block; background:#5f5f5f; border:1px solid #404144;padding:6px 17px 7px 17px;}
.btn_purchase_com { display:inline-block; background:#c0c0c0; border:1px solid #404144;padding:6px 17px 7px 17px;}
.btn_write { display:inline-block; background:#5f5f5f; border:1px solid #404144;padding:6px 17px 7px 17px;}
.btn_txt01 {color:#fff; font-weight:600;} 
.btn_txt01_com {color:#262626; font-weight:600;} 

.profile_button { color : black; }

/* Align */
.align_right {text-align:right; margin:10px 0; overflow:hidden;}
.align_right button {float:right;}
.tR {text-align:right;}

/* Color */
.txt_blue { font-weight:bold; color:#7ab5df; }
.txt_orange { font:bold 12px verdana; color:#ff7e00; }

.contents1 .con_txt{ clear:both;}    
.contents1 {margin-top: 30px;}
